{% extends "SampleApp/base.html" %}

{% block header %}
  <h3>Objects:</h3>
{% endblock header %}
{% block content %}

  <ul>
    {% for sampleObject in sampleObjects %}
      <li>
        <h4>
          <a href="{% url 'SampleApp:sampleObject' sampleObject.id %}">
              {{ sampleObject }}</a>
        </h4>
      </li>
    {% empty %}
      <li>No objects</li>
    {% endfor %}
  </ul>
  
  <u>
    <h4><a href="{% url 'SampleApp:new_sampleObject' %}">
        Add a new object</a></h4>
  </u>
{% endblock content %}

