{% extends "SampleApp/base.html" %}

{% block header %}
  <h3>{{ sampleObject }}</h3>
{% endblock header %}

{% block content %}
  <p>
    <a href="{% url 'SampleApp:new_entry' sampleObject.id %}">Add new entry</a>
  </p>

  {% for entry in entries %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>
          {{ entry.date_added|date:'d M Y H:i' }}
          <small>
            <a href="{% url 'SampleApp:edit_entry' entry.id %}">Edit entry</a>
          </small>
        </h4>
      </div>
      <div class="panel-body">
        {{ entry.text|linebreaks }}
      </div>
    </div><!-- panel -->
  {% empty %}
      No entry.
  {% endfor %}


{% endblock content %}
