{% extends "SampleApp/base.html" %}

{% block content %}

  <p>Sample object: {{ sampleObject }}</p>
  
  <p>Content:</p>
  <p>
    <a href="{% url 'SampleApp:new_entry' sampleObject.id %}">Add new entry</a>
  </p>
  <ul>
  {% for entry in entries %}
    <li>
      <p>{{ entry.date_added|date:'d M Y H:i' }}</p>
      <p>{{ entry.text|linebreaks }}</p>
      <p>
        <a href="{% url 'SampleApp:edit_entry' entry.id %}">Edit entry</a>
      </p>
    </li>
  {% empty %}
    <li>
      No entry.
    </li>
  {% endfor %}
  </ul>


{% endblock content %}
